// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import '/node_modules/datatables.net-dt/css/dataTables.dataTables.min.css';

.top-n-5{
    top: -150px;
}


.input-container {
    position: relative;
    margin-top: 20px;
}
.input-container input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.input-container label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background: white;
    padding: 0 5px;
    transition: all 0.2s;
    pointer-events: none; /* Prevent label from being clickable */
    font-size: 16px;
    color: #999;
}
.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #333;
}

.fs-50{
    font-size: 50px;
}

.fs-100{
    font-size: 100px;
}

.h-400px{
    height: 400px;
}

.p-30px{
    padding: 30px 0;
}

/* Custom animation if needed */
.input-focus-animation {
    transition: box-shadow 0.3s ease;
}
.input-focus-animation:focus {
    box-shadow: 0 0 5px 2px rgba(0, 123, 255, 0.5);
}

.form-control:focus{
    border: none;
}

.background-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    opacity: 0.1; /* Adjust the opacity to your preference */
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #11111182;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}