<div class="col-md-6 mb-4">
    <div  class="form-outline position-relative">
        <p class="form-label pb-2 top-n-15">Have you booked the flights? <span class="text-danger">*</span></p>
        <div class="row g-2 form-control d-flex">
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tripbook" id="tripbook1" value="yes" required>
                    <label class="form-check-label" for="tripbook1">
                        Yes
                    </label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input " type="radio" name="tripbook" id="tripbook2" value="no" required>
                    <label class="form-check-label" for="tripbook2">
                        No
                    </label>
                </div>
            </div>
        </div>
        <requiredalt></requiredalt>
    </div>
</div>
<div class="col-md-6 mb-5">
    <div  class="form-outline position-relative">
        <p class="form-label pb-2 top-n-15" for="form3Example4">What is your Package Budget? <span class="text-danger">*</span></p>
        <div class="row g-2 form-control d-flex">
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tripcost" id="tripcost1" value="1_to_1.5" required>
                    <label class="form-check-label" for="tripcost1">
                        1 Lakh - 1.5 Lakh
                    </label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tripcost" id="tripcost2" value="2_to_2.5" required>
                    <label class="form-check-label" for="tripcost2">
                        2 Lakh - 2.5 Lakh
                    </label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tripcost" id="tripcost3" value="2.5_+" required>
                    <label class="form-check-label" for="tripcost3">
                        2.5 Lakh +
                    </label>
                </div>
            </div>
        </div>
        <requiredalt></requiredalt>
    </div>
</div>